/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #000;
  color: #fff;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #218838;
}


/* Responsive Design */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  form {
    flex-direction: column;
  }

}
